body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: rgb(250, 250, 250);
    background-color: rgb(6, 6, 47);
}

section {
    text-align: center;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 612px;
    margin: 50px auto;
}
.cell{
    font-family: "Permanent Marker", sans-serif;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0.952);
}

img {
    margin-top: 3px;
    width: 150px;
}

.naruto-img{
    margin-top: 10px;
    width: 180px;
}

.game-title {
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;

}


nav {
    padding-right: 150px;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #551A8B;
    padding-bottom: 7px;
    padding-top: 8px;
    transition: all ease 0.1s;
}

#logo{
    width: 120px;
    height: auto;
    padding-left: 20px;
}

.link{
    padding: 20px;
    padding-top: 20px;
    float: right;
    font-size: 20px;
    color: #551A8B;
}

nav div a {
    color: #551A8B;
}

nav img{
    margin: 0;
    padding: 0;
}

section{
    margin-bottom: 50px;

}

.game-restart{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
.game-restart:hover{
    background-color: rgb(226, 223, 223);
}

section{
    margin-bottom: 150px;
    margin-top: 70px;
}


.quiz-section{
    font-size: 18px;
}

#submit{
    margin-top: 20px;
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 15px;
	cursor: pointer;
	margin-bottom: 20px;
}

#submit:hover{
    background-color: rgb(22, 117, 155);
}

.question{
    font-weight: bold;
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 12px;
}


.answers label{
    display: block;
    margin: 5px;
}