body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.article-name{
    font-size: 30px;
    text-align: center;
    padding: 30px;

}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

/*heading*/
nav {
    padding-right: 150px;
}

#logo{
    width: 140px;
    padding-left: 20px;
}

.link{
    padding: 20px;
    float: right;
    font-size: 20px;

}

#banner{
    height: 400px;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/92/b7/3c/92b73cd6467ceee125a99da4cf2f41c9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#title{
    grid-row-start: 3;
    grid-row-end: 3;
}

#title .h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    height: 50px;
    padding: 10px;
}

.info-title{
    grid-row-start: 4;
    grid-row-end: 4;
    text-align: center;
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}

/*about*/
.article-about img{
    height: 250px;
    border: solid black 1px;
}

.text-intro{
    margin: 0 20px 0 10px;
    font-family:sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: black;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#img1{
    padding-top: 20px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

#img2{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}
